:root{
    --onHoverText: gray;
    --fondoGris : lightgrey;
}

body{
    margin: 0% 5%;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    text-align: center;
}

button{
    color: black;
    padding: 5px 20px;
    border: 2px solid grey; 
    border-radius: 3px;
    &:hover{
        color: var(--onHoverText);
    }
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10% 5% 0% 5%;
}

nav h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

nav a{
    text-decoration: none;
    color: black;

    &:hover{
        color: var(--onHoverText);
    }
}

nav ul > * {
    padding: 5px;
    margin: 4px;
}


nav button{
    background-color: white;
}

header{
    background-color: var(--fondoGris);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header article {
    width: 48%;
    margin: 10% 0%;
}

header button {
    background-color: #222;
    border-color: #222;
    color: #eee;
}

header h2{
    margin-bottom: 40px;
}

main {
    margin: 0% 5% 0% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > article {
    width: 70%;
}

main > article h2 {
    font-weight: 200;    
}

main section {
    text-align: justify;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

main article div:first-child {
    background-color: black;
    height: 100px;
    width: 100%;
}

main section article {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

main button {
    border: none;
    background-color: white;
}

main section article div:nth-child(2) {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

footer {
    width: 100%;
    margin-bottom: 5%;
    background-color: var(--fondoGris);
    display: flex;
    justify-content: space-around;
}
footer > div {
    width: 20%;
    text-align: center;
}
footer > ul {
    display: flex;
    flex-direction: row;
    width: max-content;
}

footer ul li {
    align-self: center;
}

footer ul li ul {
    display: flex;
    flex-direction: column;
}