:root{
    --onHoverText: gray;
    --fondoGris : lightgrey;
}

body{
    margin: 0% 5%;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    text-align: center;
}

button{
    color: black;
    padding: 5px 20px;
    border: 2px solid grey; 
    border-radius: 3px;
    &:hover{
        color: var(--onHoverText);
    }
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10% 5% 0% 5%;
}

nav h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

nav a{
    text-decoration: none;
    color: black;

    &:hover{
        color: var(--onHoverText);
    }
}

nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav ul > * {
    padding: 5px;
    margin: 4px;
}


nav button{
    background-color: white;
}

header{
    background-color: var(--fondoGris);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header article {
    width: 48%;
    margin: 10% 0%;
}

header button {
    background-color: #222;
    border-color: #222;
    color: #eee;
}

header h2{
    margin-bottom: 40px;
}