nav{
    margin-bottom: 20px;
}
main{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    justify-content: space-between;
    gap: 10px 5px;
}

article {
    max-width: 300px;
}

img {
    width: 100%;
}
h2 {
    width: 100%;
}