body {
    margin: 0;
    padding: 0;
    border: none;
}
.sidebar {
    position: fixed;
    left: 0;
    width: 20%;
    background-color: lightblue;
    height: 500px;
}
.main-content {
    width: 80%;
    background-color: lightgrey;
    display: flex;
    position: relative;
    left: 20%;
    height: 500px;
}