.flex-container {
    display: flex;
    flex-direction: row;
}

.item {
    background-color: lightblue;
    width: minmax(30px, 20%);
    padding: 5px;
    margin: 5px;
}

@media only screen and (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }
}